:root {
  --white: #fff;
  --charcoal: #555;
  --grey: #909090;
  --light-grey: #b7b4b4;
  --12px: 12px;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.lightbox-wrapper {
  aspect-ratio: auto;
  opacity: 1;
  object-fit: contain;
  flex-flow: row;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  max-width: none;
  height: auto;
  margin-bottom: 10px;
  display: block;
  position: relative;
  overflow: hidden;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.lightbox-image {
  aspect-ratio: auto;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: static;
  overflow: clip;
}

.project-grid {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(313px, 1fr));
  grid-template-areas: ".";
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-content: start center;
  place-items: start;
  width: auto;
  margin-bottom: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  max-width: none;
  display: flex;
  overflow: visible;
}

.project-anotation-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  margin-bottom: 0;
  display: flex;
}

.project-credits {
  width: 40%;
  font-weight: 400;
}

.project-services {
  width: auto;
  max-width: 30%;
}

.about-project-wrap {
  margin-bottom: 20px;
}

.project-details {
  z-index: 1;
  background-color: var(--white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: none;
  margin-top: 100px;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.paragraph {
  color: var(--charcoal);
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 120%;
}

.body {
  font-family: Inter, sans-serif;
}

.heading {
  outline-offset: 0px;
  color: var(--grey);
  text-transform: uppercase;
  background-color: #3898ec00;
  outline: 2px #909090;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.paragraph-2 {
  color: var(--light-grey);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

.heading-2 {
  color: var(--light-grey);
  margin-top: 0;
}

.heading-3 {
  color: var(--light-grey);
  font-size: 20px;
  font-weight: 400;
}

.paragraph-3 {
  color: var(--light-grey);
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

.heading-4 {
  color: var(--light-grey);
  font-size: 20px;
  font-weight: 400;
}

.project-info-wrap {
  background-color: var(--white);
  flex-flow: column;
  max-width: 1080px;
  margin-bottom: 140px;
  padding: 0;
  display: block;
  position: relative;
  top: 100%;
}

.div-block-7 {
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1080px;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
}

.show-hide-wrap {
  background-color: var(--charcoal);
  width: 32px;
  height: 32px;
  position: relative;
}

.div-block-8 {
  background-color: var(--charcoal);
  height: 100dvh;
}

.project-half {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: minmax(500px, .25fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  display: flex;
}

.project-half-copy {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: minmax(500px, .25fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  display: flex;
}

.div-block-9 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  flex: none;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  width: 100vw;
  display: grid;
}

.bold-text, .bold-text-2 {
  color: var(--light-grey);
  font-size: 12px;
}

.div-block-10 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start stretch;
  width: 100vw;
  display: grid;
}

.container-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-content: center space-between;
  place-items: center start;
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.navbar {
  z-index: 100;
  background-color: #fff;
  height: 112px;
  display: flex;
  position: sticky;
  inset: 0% 0% auto;
}

.nav-link---desktop {
  color: var(--grey);
  text-transform: uppercase;
  margin: 16px 0;
  padding: 0;
  font-size: 20px;
}

.nav-link---desktop.w--current {
  color: var(--grey);
}

.div-block-11 {
  width: 22px;
  height: 22px;
}

.div-block-12 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(0, .25fr));
  grid-auto-columns: 1fr;
  place-items: start stretch;
  width: 100vw;
  display: grid;
}

.div-block-13 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start stretch;
  width: 100vw;
  display: grid;
}

.div-block-14 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(0, .25fr));
  grid-auto-columns: 1fr;
  place-items: start stretch;
  width: 100vw;
  display: grid;
}

.div-block-15 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(9px, .25fr));
  grid-auto-columns: auto;
  place-items: start stretch;
  width: 100vw;
  display: grid;
}

.smooth-wrapper {
  margin-top: 0;
  padding-top: 112px;
}

.div-block-16 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(0, .25fr));
  grid-auto-columns: 1fr;
  place-items: center stretch;
  width: 100vw;
  display: grid;
}

.div-block-17 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  direction: ltr;
  column-count: 7;
  column-rule-style: none;
  white-space: normal;
  word-break: break-all;
  overflow-wrap: break-word;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-auto-columns: 1fr;
  place-items: start stretch;
  width: 200vw;
  display: grid;
}

.div-block-18 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-auto-columns: 1fr;
  place-items: start stretch;
  width: 100vw;
  display: grid;
}

.div-block-19 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-auto-columns: 1fr;
  place-items: start;
  width: 100vw;
  display: grid;
}

.div-block-20 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: start stretch;
  width: 100vw;
  display: grid;
}

.div-block-21, .div-block-22 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  width: 100vw;
  display: grid;
}

.div-block-23 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  width: 100vw;
  display: grid;
}

.div-block-24 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  width: 100vw;
  display: grid;
}

.div-block-25 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  width: 100vw;
  display: grid;
}

.nav-link---mobile {
  color: var(--grey);
  text-transform: uppercase;
  margin: 16px 0;
  padding: 0;
  font-size: 20px;
  display: none;
}

.section {
  margin-top: 0;
}

.paragraph-about {
  color: var(--charcoal);
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 120%;
}

.about-header-wrap {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
}

.about-content-wrap {
  background-color: var(--white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin-bottom: 140px;
  padding: 0;
  display: flex;
  position: relative;
  top: 100%;
}

.button {
  outline-color: var(--light-grey);
  outline-offset: 0px;
  color: var(--grey);
  background-color: #3898ec00;
  outline-width: 2px;
  outline-style: solid;
  font-size: 20px;
  font-weight: 400;
}

.heading-copy {
  outline-offset: 0px;
  color: var(--grey);
  text-transform: uppercase;
  background-color: #3898ec00;
  outline: 2px #909090;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.about-header-wrap-copy {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
}

.image {
  width: 100%;
  max-width: 1080px;
  margin-bottom: 0;
}

.div-block-26 {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin-bottom: 50px;
  display: flex;
  position: relative;
}

.heading-5 {
  color: var(--white);
  text-underline-offset: 6px;
  font-size: 72px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  position: absolute;
}

.clients-content {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
  overflow: visible;
}

.logos-wrap {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: none;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(0, .25fr));
  grid-auto-columns: 1fr;
  justify-content: space-around;
  place-items: center stretch;
  width: 200vw;
  margin-left: 0;
  display: flex;
}

.logos-wrap._2 {
  background-color: #ff0a0a00;
}

.logo-wrap {
  width: 130px;
}

.logo-image {
  width: 100%;
  max-width: 100%;
}

.showreel {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  aspect-ratio: auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  margin-top: 140px;
  display: flex;
  overflow: visible;
}

.background-video {
  border: 1px solid #000;
  width: 100%;
  max-width: 1080px;
}

.contact-details {
  z-index: 1;
  background-color: var(--white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: none;
  margin-top: 100px;
  margin-bottom: 140px;
  display: flex;
  position: relative;
}

.contact-form--wrap {
  background-color: var(--white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin-bottom: 140px;
  padding: 0;
  display: flex;
  position: relative;
  top: 100%;
}

.form-block {
  width: 100%;
  max-width: 720px;
}

.submit-button {
  background-color: #000;
  width: 100%;
}

.div-block-27 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.youtube {
  aspect-ratio: 16 / 9;
  max-width: 1080px;
}

.div-block-28 {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 1080px;
}

@media screen and (max-width: 991px) {
  .project-grid {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .project-anotation-wrap {
    flex-flow: column;
  }

  .project-credits {
    width: 100%;
  }

  .project-details {
    margin-top: 40px;
  }

  .paragraph {
    font-size: 18px;
  }

  .project-info-wrap {
    margin-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-7 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-9, .div-block-10 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .container-2 {
    width: 100%;
    height: 50px;
    padding-left: 39px;
    padding-right: 39px;
  }

  .navbar {
    height: auto;
  }

  .nav-link---desktop {
    display: none;
  }

  .div-block-11 {
    background-color: #fff;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 50px);
    padding-left: 40px;
    padding-right: 40px;
    display: none;
    position: absolute;
    inset: 100% auto 0% 0%;
  }

  .div-block-12, .div-block-13, .div-block-14, .div-block-15 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .div-block-16 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .div-block-17 {
    grid-template-columns: repeat(auto-fit, minmax(0, .25fr));
  }

  .div-block-18 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .div-block-19, .div-block-20, .div-block-21, .div-block-22 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .div-block-23 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .div-block-24 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .div-block-25 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .nav-link---mobile {
    margin-bottom: 0;
  }

  .menu-button {
    padding: 0;
  }

  .paragraph-about {
    font-size: 18px;
  }

  .about-header-wrap {
    padding-left: 40px;
    padding-right: 40px;
  }

  .about-content-wrap {
    margin-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .about-header-wrap-copy, .div-block-26 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .logos-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: 20px;
  }

  .showreel {
    margin-top: 70px;
  }

  .contact-details {
    margin-top: 40px;
  }

  .contact-form--wrap {
    margin-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .smooth-wrapper {
    margin-top: 50px;
    padding-top: 0;
  }

  .heading-5 {
    font-size: 48px;
  }
}

@media screen and (max-width: 479px) {
  .project-grid {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    margin-bottom: 20px;
  }

  .about-project-wrap {
    margin-bottom: 0;
  }

  .project-details {
    justify-content: center;
    align-items: center;
  }

  .project-info-wrap {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .project-half {
    flex-flow: column;
  }

  .div-block-9, .div-block-10 {
    grid-template-columns: 1fr 1fr;
  }

  .container-2, .div-block-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-12, .div-block-13 {
    grid-template-columns: 1fr 1fr;
  }

  .div-block-14 {
    place-items: center stretch;
  }

  .div-block-15 {
    grid-template-columns: 1fr 1fr;
  }

  .smooth-wrapper {
    margin-top: 0;
    padding-top: 0;
  }

  .div-block-16 {
    grid-template-columns: 1fr 1fr;
  }

  .div-block-17, .div-block-18 {
    grid-template-columns: 1fr;
  }

  .div-block-19, .div-block-20, .div-block-21, .div-block-22 {
    grid-template-columns: 1fr 1fr;
  }

  .div-block-23 {
    grid-template-columns: 1fr;
  }

  .div-block-24 {
    grid-template-columns: 1fr 1fr;
  }

  .div-block-25 {
    grid-template-columns: 1fr;
  }

  .paragraph-about {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .about-header-wrap {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-content-wrap {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button {
    text-align: center;
    width: 100%;
  }

  .about-header-wrap-copy {
    padding-left: 20px;
    padding-right: 20px;
  }

  .image {
    margin-bottom: 0;
  }

  .div-block-26 {
    flex-flow: row;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-5 {
    font-size: 32px;
  }

  .logos-wrap {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    margin-left: 6px;
  }

  .showreel {
    margin-top: 40px;
  }

  .contact-details {
    justify-content: center;
    align-items: center;
  }

  .contact-form--wrap {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#w-node-f25612fa-bfa0-5487-328e-876bef45c5aa-cef91873, #w-node-f25612fa-bfa0-5487-328e-876bef45c5aa-3a020e05, #w-node-b153c6c3-081a-9688-4c32-9074212a8903-a2870a92, #w-node-_869f0b07-3ad3-6810-6f9b-5736c21af1fa-a2870a92 {
  align-self: auto;
}


